<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <alias alias="" type="" />
    <namespace name="Manager.IBLL" />
    <namespace name="Manager.BLL" />
    <namespace name="Manager.IDAL" />
    <namespace name="Manager.DAL" />


    <assembly name="Manager.IBLL" />
    <assembly name="Manager.BLL" />
    <assembly name="Manager.IDAL" />
    <assembly name="Manager.DAL" />

    <container>

      <register type="IMembershipServiceBLL" mapTo="MembershipServiceBLL" />
      <!--<register type="ISysPersonRepository" mapTo="SysPersonRepository" />-->
    
    </container>
  </unity>
</configuration>